*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
section {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
a:visited {
  color: #ffffff;
}
li {
  list-style: none;
}
.quote-box {
  border-radius: 100px;
  border: 1px solid white;
  text-transform: uppercase;
  white-space: nowrap;
}
.elegance {
  max-width: 236px;
  height: 48px;
}
/*HEADER*/
header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #073b43;
  height: 84px;
}
.responsivity {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px;
}
.nav-in ul li a {
  position: relative;
  padding: 0 10px;
}
.nav-in ul li a::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 2px;
  width: 0;
  left: 0;
  top: 20px;
  transition: 0.3s;
}
.nav-in ul li a:hover:after {
  width: 100%;
}
.nav-out {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.header-icon {
  width: 24px;
  height: 24px;
}
.search img {
  margin-top: 8px;
}
.header-box {
  text-align: center;
  max-width: 156px;
  max-height: 40px;
  padding: 10px 28px 10px 28px;
  transition: 0.3s ease;
}
.header-box:hover {
  background-color: #ffffff;
  color: #073b43;
}
/*FIRST SECTION*/
.first-section {
  position: relative;
  height: 90vh;
}
.first-section img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #00000033;
  filter: brightness(80%);
}
.home-text {
  position: relative;
  top: 175px;
  right: 32px;
  gap: 16px;
  z-index: 3;
}
.home-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 32px;
  color: rgba(255, 255, 255, 1);
}
.home-text h1 {
  font-size: 5.75rem;
  line-height: 5.75rem;
  font-weight: 500;
  text-align: center;
}
.home-text p {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 300;
  text-align: center;
}
.home-text a {
  padding-top: 16px;
}
.home-box {
  align-self: center;
  width: 250px;
  max-width: 250px;
  height: 56px;
  text-align: center;
  transition: 0.3s;
}
.home-box:hover {
  background-color: #073b43;
  border: #073b43;
  margin: 0;
}
/*SECOND SECTION*/
.second-section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ded1b3;
}
.second-section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.second-section ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.second-section ul li img {
  width: 40px;
  height: 40px;
}
.second-section ul li h3 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1rem;
  color: #073b43;
  text-align: start;
}
/*THIRD SECTION*/
.third-section {
  display: flex;
  flex-direction: row;
}
.image-Div {
  width: 50%;
}
.image-Div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
}
.third-section-text {
  width: 60%;
  background-color: #073b43;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 44px;
  color: #ffffff;
  padding: 120px;
}
.third-section-text h1 {
  align-self: flex-start;
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 4.5rem;
  margin-left: 10px;
}
.third-section-text .elegance {
  align-self: flex-end;
}
.third-section-text p {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 32px;
}
/*FOURTH SECTION*/
.fourth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  background-color: #ded1b3;
  padding-top: 50px;
}
.fourth-section h1 {
  position: relative;
  font-size: 3.25rem;
  font-weight: 500;
  line-height: 3.125;
  color: #073b43;
  animation: none;
  z-index: 1;
}
.Naptec-brands {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
  padding-bottom: 50px;
  gap: 100px;
}
.brand {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 252px;
  max-height: 252px;
  border-radius: 170px;
}
.brand img {
  object-fit: contain;
  transition: 0.4s;
}

.brand-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transform: translateY(-40px);
}
.brand-text p {
  line-height: 1.75rem;
  color: #022d33;
}
.brand-text a {
  color: #073b43;
  text-decoration: underline;
}
.brand:hover img {
  transform: scale(0.6) translateY(-80px);
}
.brand:hover .brand-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  text-align: center;
  color: #10292d;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 300;
  visibility: visible;
  opacity: 1;
  transform: translateY(-60px);
}
@keyframes fadeIn {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(-60px);
    opacity: 1;
  }
}

/*FIFTH SECTION*/
.fifth-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #073b43;
  padding: 50px;
}
.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px 20px 60px;
}
.section-header-title h1 {
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: #ffffff;
}
.section-header-title p {
  font-size: 1.3125rem;
  font-weight: 200;
  line-height: 2rem;
  color: #ffffff;
}
.section-header-btn {
  max-width: 199px;
  max-height: 48px;
  text-align: center;
  padding: 15px;
  align-self: center;
  transition: 0.3s;
}
.section-header-btn:hover {
  background-color: #ffffff;
}
.section-header-btn:hover a {
  color: #073b43;
}
.card {
  max-width: 352px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 32px;
}
.section-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  padding-left: 32px;
}
.card-image {
  max-width: 336px;
  height: 432px;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-title h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
.arrow-icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 10px;
  align-self: flex-end;
}
.arrow-icon svg {
  transition: 0.3s;
  color: #ffffff;
}
.card:hover .arrow-icon {
  background-color: #ffffff;
}
.card:hover .arrow-icon svg {
  transform: rotate(-90deg);
  color: #073b43;
}
/*SIXTH SECTION*/
.sixth-section {
  position: relative;
}
.sixth-section img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.side-cercle-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 95px;
  gap: 32px;
  position: absolute;
  max-width: 699px;
  max-height: 484px;
  top: 20%;
  left: 80px;
  width: 699px;
  border-radius: 0 620px 0 0;
  background-color: #073b43;
  z-index: 999;
}

.sixth-section::after {
  position: absolute;
  content: "";
  max-width: 699px;
  max-height: 484px;
  width: 698px;
  height: 484px;
  border: 1px solid white;
  top: 130px;
  left: 100px;
  z-index: 0;
  border-radius: 0 620px 0 0;
}

.side-cercle-div h1 {
  font-weight: 500;
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: #ffffff;
}
.side-cercle-div p {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 32px;
  color: #ffffff;
}
.side-cercle-div a {
  max-width: 201px;
  max-height: 56px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}
.side-cercle-div-btn:hover {
  background-color: #ffffff;
  color: #073b43;
}
/*SEVENTH SECTION*/
.seventh-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #073b43;
  padding: 92px;
  gap: 36px;
}
.seventh-section h1 {
  margin-left: -16px;
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: #ffffff;
  align-self: flex-start;
}
.seventh-section ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 199px;
}

.col-1,
.col-2,
.col-3,
.col-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 300;
  white-space: nowrap;
}
.col-4 {
  align-self: flex-start;
}
.seventh-section ul li {
  list-style: url(./image/Ellipse\ 1.png);
}
/*EIGHTH SECTION*/
.eighth-section {
  height: 50vh;
}
.eighth-section img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.eighth-section::after {
  position: absolute;
  content: "";
  width: 84%;
  height: 10px;
  border-bottom: 1px solid #ffffff;
}

/*NINETH SECTION*/
.nineth-section {
  min-height: 20vh;
  background-color: #073b43;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.nineth-section .elegance {
  margin-right: 120px;
  color: #ffffff;
}
/*TENTH SECTION*/
.tenth-section {
  position: relative;
  background-color: #ded1b3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 100px;
}
.img-section-side-cercle {
  position: absolute;
  top: -50px;
  left: 79px;
  border-radius: 0 0 520px 0;
  width: 464px;
  height: 464px;
}
.img-section-side-cercle::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid white;
  display: block;
  top: 20px;
  left: 20px;
  z-index: 0;
  border-radius: 0 0 520px 0;
}
.img-section-side-cercle img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 520px 0;
  object-fit: cover;
}
.tenth-section-text {
  padding-right: 300px;
  color: #022d33;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 32px;
}
.tenth-section-text h1 {
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 4.5rem;
}
.tenth-section-text p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem;
}
.tenth-section-text a {
  max-width: 263px;
  max-height: 56px;
  border-radius: 100px;
  border: 1px solid;
  color: #022d33;
  text-align: center;
  padding: 18px;
  text-transform: uppercase;
  transition: 0.3s;
}
.tenth-section-text a:hover {
  background-color: #073b43;
  color: #ffffff;
}
/*FOOTER*/
footer {
  background-color: #073b43;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 80px 0px 50px 0;
}
.footer-container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 73%;
  height: 10%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  align-self: center;
}
.footer-footer h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #ffffffcc;
  align-self: center;
  padding-top: 40px;
}
.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 80px;
  padding-left: 270px;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-logo h1 {
  color: #ffffff;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 28px;
}
.contact h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #ffffff;
}
.contact h3:first-child {
  text-transform: uppercase;
}
.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 80px;
  padding-right: 250px;
}
.get-email {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.get-email h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
  color: #ffffff;
}
.get-email form {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.get-email form input {
  background-color: #39626952;
  width: 304px;
  height: 24px;
  border-radius: 100px;
  border: 1px solid #396269;
  padding: 24px;
}
.get-email form input::placeholder {
  color: #ffffff;
}
.get-email form button {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  color: #022d33;
  border: 0;

  width: 196px;
  height: 56px;
  border-radius: 100px;
  background-color: #ded1b3;
}
.list-right-footer ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 10px;
  gap: 148px;
}
.list-right-footer ul li a {
  position: relative;
  padding: 0 15px;
}
.list-right-footer ul li a::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 2px;
  width: 0;
  left: 0;
  top: 20px;
  transition: 0.3s;
}
.list-right-footer ul li a:hover:after {
  width: 100%;
}
.list-style-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
.list-style-footer li {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
