*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
section {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
a:visited {
  color: #ffffff;
}
li {
  list-style: none;
}
.quote-box {
  border-radius: 100px;
  border: 1px solid white;
  text-transform: uppercase;
  white-space: nowrap;
}
.elegance {
  max-width: 236px;
  height: 48px;
}
/*HEADER*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #073b43;
  height: 84px;
}
.responsivity {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px;
}
.nav-in ul li a {
  position: relative;
  padding: 0 10px;
}
.nav-in ul li a::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 2px;
  width: 0;
  left: 0;
  top: 20px;
  transition: 0.3s;
}
.nav-in ul li a:hover:after {
  width: 100%;
}
.nav-out {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.header-icon {
  width: 24px;
  height: 24px;
}
.search img {
  margin-top: 8px;
}
.header-box {
  text-align: center;
  max-width: 156px;
  max-height: 40px;
  padding: 10px 28px 10px 28px;
  transition: 0.3s ease;
}
.header-box:hover {
  background-color: #ffffff;
  color: #073b43;
}
/*FIRST SECTION*/
.first-section {
  position: relative;
  height: 80vh;
}
.first-section img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #00000033;
  filter: brightness(80%);
}
.home-text {
  position: relative;
  top: 175px;
  right: 32px;
  gap: 16px;
  z-index: 3;
}
.home-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 32px;
  color: rgba(255, 255, 255, 1);
}
.home-text h1 {
  font-size: 5.75rem;
  line-height: 5.75rem;
  font-weight: 500;
  text-align: center;
}
.home-text p {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 300;
  text-align: center;
}
.home-text a {
  padding-top: 16px;
}
.home-box {
  align-self: center;
  width: 250px;
  max-width: 250px;
  height: 56px;
  text-align: center;
  transition: 0.3s;
}
.home-box:hover {
  background-color: #073b43;
  border: #073b43;
  margin: 0;
}
/*SECOND SECTION*/
.second-section {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ded1b3;
}
.second-section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.second-section ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.second-section ul li img {
  width: 40px;
  height: 40px;
}
.second-section ul li h3 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1rem;
  color: #073b43;
  text-align: start;
}
/*THIRD SECTION*/
.third-section {
  height: 78.5vh;
  display: flex;
  flex-direction: row;
}
.image-Div {
  width: 50%;
}
.image-Div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
}
.third-section-text {
  width: 60%;
  background-color: #073b43;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 44px;
  color: #ffffff;
  padding: 120px;
}
.third-section-text h1 {
  align-self: flex-start;
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 4.5rem;
  margin-left: 10px;
}
.third-section-text .elegance {
  align-self: flex-end;
}
.third-section-text p {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 32px;
}
/*FOURTH SECTION*/
.fourth-section {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  background-color: #ded1b3;
  padding-top: 50px;
}
.fourth-section h1 {
  position: relative;
  font-size: 3.25rem;
  font-weight: 500;
  line-height: 3.125;
  color: #073b43;
  animation: none;
  z-index: 1;
}
.Naptec-brands {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
  padding-bottom: 50px;
  gap: 100px;
}
.brand {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 252px;
  max-height: 252px;
  border-radius: 170px;
}
.brand img {
  object-fit: contain;
  transition: 0.4s;
}

.brand-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transform: translateY(-40px);
}
.brand-text p {
  line-height: 1.75;
}
.brand-text a {
  color: #073b43;
  text-decoration: underline;
}
.brand:hover img {
  transform: scale(0.6) translateY(-80px);
}
.brand:hover .brand-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  text-align: center;
  color: #10292d;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 300;
  visibility: visible;
  opacity: 1;
  transform: translateY(-60px);
}
@keyframes fadeIn {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(-60px);
    opacity: 1;
  }
}

/*FIFTH SECTION*/
.fifth-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #073b43;
  padding: 40px;
}
.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 65px;
}
.section-header-title h1 {
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: #ffffff;
}
.section-header-title p {
  font-size: 1.3125rem;
  font-weight: 200;
  line-height: 2rem;
  color: #ffffff;
}
.section-header-btn {
  max-width: 199px;
  max-height: 48px;
  text-align: center;
  padding: 15px;
  align-self: center;
  transition: 0.3s;
}
.section-header-btn:hover {
  background-color: #ffffff;
}
.section-header-btn:hover a {
  color: #073b43;
}
.card {
  max-width: 352px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 32px;
}
.section-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  padding-left: 32px;
}
.card-image {
  max-width: 336px;
  height: 432px;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-title h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
.arrow-icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 10px;
  align-self: flex-end;
}
.arrow-icon svg {
  transition: 0.3s;
  color: #ffffff;
}
.card:hover .arrow-icon {
  background-color: #ffffff;
}
.card:hover .arrow-icon svg {
  transform: rotate(-90deg);
  color: #073b43;
}
/*SIXTH SECTION*/
.sixth-section {
  position: relative;
  height: 80vh;
}
.sixth-section img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  z-index: -1;
}
.side-cercle-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 95px;
  gap: 32px;
  position: relative;
  max-width: 699px;
  max-height: 484px;
  top: -80%;
  left: 80px;
  border-radius: 0 620px 0 0;
  background-color: #073b43;
  z-index: 1;
}

.sixth-section::after {
  position: absolute;
  content: "";
  max-width: 699px;
  max-height: 484px;
  border: 1px solid white;
  top: 17%;
  left: 7%;
  z-index: 0;
  border-radius: 0 620px 0 0;
}

.side-cercle-div h1 {
  font-weight: 500;
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: #ffffff;
}
.side-cercle-div p {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 32px;
  color: #ffffff;
}
.side-cercle-div a {
  max-width: 201px;
  max-height: 56px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}
.side-cercle-div-btn:hover {
  background-color: #ffffff;
  color: #073b43;
}
/*SEVENTH SECTION*/
.seventh-section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #073b43;
  padding: 92px;
  gap: 36px;
}
.seventh-section h1 {
  margin-left: -16px;
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: #ffffff;
  align-self: flex-start;
}
.seventh-section ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 199px;
}

.col-1,
.col-2,
.col-3,
.col-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 300;
  white-space: nowrap;
}
.col-4 {
  align-self: flex-start;
}
.seventh-section ul li {
  list-style: url(./image/Ellipse\ 1.png);
}
/*EIGHTH SECTION*/
.eighth-section {
  height: 50vh;
}
.eighth-section img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.eighth-section::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 10px;
  border-bottom: 1px solid #ffffff;
}

/*NINETH SECTION*/
.nineth-section {
  height: 20vh;
  background-color: #073b43;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.nineth-section .elegance {
  margin-right: 120px;
  color: #ffffff;
}
/*TENTH SECTION*/
.tenth-section {
  position: relative;
  background-color: #ded1b3;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.img-section-side-cercle {
  position: absolute;
  top: -50px;
  left: 79px;
  border-radius: 0 0 520px 0;
  width: 464px;
  height: 464px;
}
.img-section-side-cercle::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid white;
  display: block;
  top: 20px;
  left: 20px;
  z-index: 0;
  border-radius: 0 0 520px 0;
}
.img-section-side-cercle img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 520px 0;
  object-fit: cover;
}
.tenth-section-text {
  padding-right: 300px;
  color: #022d33;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 32px;
}
.tenth-section-text h1 {
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 4.5rem;
}
.tenth-section-text p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem;
}
.tenth-section-text a {
  max-width: 263px;
  max-height: 56px;
  border-radius: 100px;
  border: 1px solid;
  color: #022d33;
  text-align: center;
  padding: 18px;
  text-transform: uppercase;
  transition: 0.3s;
}
.tenth-section-text a:hover {
  background-color: #073b43;
  color: #ffffff;
}
/*FOOTER*/
footer {
  height: 70vh;
  background-color: #073b43;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 73%;
  height: 10%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  align-self: center;
}
.footer-footer h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #ffffffcc;
  align-self: center;
  padding-top: 40px;
}
.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 80px;
  padding-left: 270px;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-logo h1 {
  color: #ffffff;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 28px;
}
.contact h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #ffffff;
}
.contact h3:first-child {
  text-transform: uppercase;
}
.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 80px;
  padding-right: 250px;
}
.get-email {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.get-email h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
  color: #ffffff;
}
.get-email form {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.get-email form input {
  background-color: #39626952;
  width: 304px;
  height: 24px;
  border-radius: 100px;
  border: 1px solid #396269;
  padding: 24px;
}
.get-email form input::placeholder {
  color: #ffffff;
}
.get-email form button {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  color: #022d33;
  border: 0;

  width: 196px;
  height: 56px;
  border-radius: 100px;
  background-color: #ded1b3;
}
.list-right-footer ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 148px;
}
.list-right-footer ul li a {
  position: relative;
  padding: 0 15px;
}
.list-right-footer ul li a::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 2px;
  width: 0;
  left: 0;
  top: 20px;
  transition: 0.3s;
}
.list-right-footer ul li a:hover:after {
  width: 100%;
}
.list-style-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
.list-style-footer li {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
/*RESPONSIVITY*/
@media screen and (min-width: 320px) {
  section {
    width: 100%;
  }
  /*responsive header*/
  header {
    width: 100%;
    height: 10vh;
    justify-content: space-around;
  }
  .search img {
    margin-top: 0;
  }
  .responsivity {
    display: block;
  }
  .responsivity button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
  }
  .responsivity button img {
    width: 2.5em;
    height: 2.5em;
  }
  .logo {
    align-self: center;
  }
  .side-bare-div {
    position: fixed;
    top: 9%;
    left: 0;
    background-color: #073b43;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 70px;
    animation: start 0.5s ease-in-out forwards;
    z-index: 9999;
    border-top: 2px solid #ffffff;
  }
  @keyframes start {
    from {
      width: 0%;
    }
    to {
      width: 98%;
    }
  }
  @keyframes end {
    from {
      width: 98%;
    }
    to {
      width: 0%;
    }
  }
  .side-bare-div img {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    align-self: center;
  }
  .close-btn {
    position: absolute;
    left: 88.9%;
    top: 1%;
    background: none;
    border: none;
  }
  .close-btn svg {
    width: 30px;
    height: 30px;
    color: #ffffff;
  }
  .nav-out ul {
    gap: 0px;
  }
  .nav-out .shopping {
    display: none;
  }
  .nav-in,
  .nav-out .quote-box {
    display: none;
  }
  .nav-in ul {
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 2rem;
  }
  /*responsive main*/
  /*1st section*/
  .first-section {
    height: 90vh;
  }
  .first-section img {
    width: 100%;
    height: 100%;
  }
  .home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
  }
  .home-text h1 {
    font-size: 3rem;
    line-height: 3.75rem;
    text-align: center;
  }
  .home-text p {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .home-box {
    width: 100%;
  }

  /*2nd section*/
  .second-section {
    height: 30vh;
    align-items: center;
  }
  .second-section ul {
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 15px;
  }
  .second-section ul li {
    justify-content: flex-start;
    gap: 5px;
  }
  .second-section ul li h3 {
    font-size: 1rem;
  }
  /*3rd section*/
  .third-section {
    height: 100vh;
    flex-direction: column-reverse;
  }
  .image-Div {
    width: 100%;
    height: 30vh;
  }
  .image-Div img {
    width: 100%;
    object-fit: cover;
  }
  .third-section-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    padding: 20px;
  }
  .third-section-text h1 {
    font-size: 1.75rem;
  }
  .third-section-text p {
    font-size: 0.9rem;
  }
  .third-section-text h3 {
    font-size: 1rem;
  }
  /*4th section*/
  .fourth-section {
    height: 60vh;
    padding-top: 0;
  }
  .Naptec-brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 16%;
    padding: 0;
  }
  .fourth-section h1 {
    font-size: 2.25rem;
  }
  .brand {
    place-self: center;
  }
  .brand-text {
    display: none;
  }
  .brand:hover {
    display: none;
  }
  .brand img {
    width: 100%;
    height: 100%;
  }
  .brand:hover img {
    display: none;
  }
  .brand:hover .brand-text {
    display: none;
  }
  /*5th section*/
  .fifth-section {
    height: 100%;
    align-items: center;
    padding-left: 0px;
  }
  .section-header {
    position: relative;
    justify-content: space-evenly;
    gap: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }
  .section-header-title {
    padding-left: 8%;
  }
  .section-header-title h1 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: 10px;
    text-align: center;
  }
  .section-header-title p {
    font-size: 0.9rem;
    line-height: 1rem;
    white-space: nowrap;
  }
  .section-header-btn {
    display: none;
  }

  .section-header-btn a {
    font-size: 0.75rem;
  }
  .section-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .card-image {
    width: 98%;
    align-self: center;
  }

  /*6th section*/
  .sixth-section {
    height: 80vh;
  }
  .sixth-section::after {
    width: 80%;
    height: 45%;
    top: 19%;
    left: 12%;
  }
  .sixth-section img {
    width: 100%;
    height: 100%;
  }
  .side-cercle-div {
    gap: 10px;
    width: 80%;
    padding: 12%;
    padding-left: 4%;
    left: 8%;
  }
  .side-cercle-div h1 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #ffffff;
  }
  .side-cercle-div p {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.25rem;
    color: #ffffff;
  }
  .side-cercle-div a {
    font-size: 12px;
    padding: 8%;
  }
  /*7th section*/
  .seventh-section {
    height: 50vh;
    padding-left: 16%;
  }
  .seventh-section h1 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #ffffff;
    align-self: flex-start;
    white-space: nowrap;
    margin-left: -5px;
  }
  .seventh-section ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16%;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12%;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 300;
  }

  .seventh-section ul li {
    list-style: url(./image/Ellipse\ 1.png);
  }
  /*8th section*/
  .eighth-section {
    height: 50vh;
  }
  .eighth-section img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .eighth-section::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #ffffff;
  }

  /*9th section*/
  .nineth-section {
    height: 20vh;
    background-color: #073b43;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nineth-section .elegance {
    margin-right: -30%;
    margin-bottom: 10%;
    color: #ffffff;
  }
  /*10th section*/

  .tenth-section {
    position: relative;
    background-color: #ded1b3;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .img-section-side-cercle {
    position: absolute;
    top: -10%;
    left: 15%;
    width: 70%;
    height: 40%;
    border-radius: 0 0 0 0;
  }
  .img-section-side-cercle::after {
    position: absolute;
    content: "";
    width: 105%;
    height: 100%;
    border: 1px solid white;
    display: block;
    top: 10px;
    left: -7px;
    border-radius: 0 0 0 0;
    z-index: 0;
  }
  .img-section-side-cercle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 0 0;
  }
  .tenth-section-text {
    color: #022d33;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 40% 0 0 0;
  }

  .tenth-section-text h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
  }
  .tenth-section-text p {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
  .tenth-section-text a {
    width: 80%;
    height: 20%;
    border-radius: 100px;
    border: 1px solid;
    color: #022d33;
    text-align: center;
    padding: 5%;
    text-transform: uppercase;
    margin-left: 10%;
  }
  /*footer*/
  footer {
    height: 100vh;
    width: 100%;
    background-color: #073b43;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer-container-flex {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 18%;
  }
  .footer-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100;
    height: 10%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    align-self: center;
  }
  .footer-footer h6 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: #ffffffcc;
    align-self: center;
    text-align: center;
    white-space: nowrap;
    padding-top: 40px;
  }
  .left-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 0;
    padding-left: 14px;
  }
  .footer-logo {
    width: 20%;
    height: 30%;
    gap: 90%;
    margin-right: 15%;
  }
  .footer-logo h1 {
    font-size: 1rem;
    color: #ffffff;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
  }
  .contact h3 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 300;
    color: #ffffff;
  }
  .contact h3:first-child {
    text-transform: uppercase;
  }
  .right-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    padding-right: 0;
  }
  .get-email {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .get-email h2 {
    font-size: 1.35rem;
    line-height: 1rem;
    font-weight: 300;
    color: #ffffff;
  }
  .get-email form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .get-email form input {
    background-color: #39626952;
    width: 100%;

    border: 1px solid #396269;
    padding: 24px;
  }
  .get-email form input::placeholder {
    text-align: center;
    color: #ffffff;
  }
  .get-email form button {
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #022d33;
    border: 0;
    width: 100%;
    border-radius: 100px;
    background-color: #ded1b3;
  }
  .list-right-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 62px;
  }
  .list-right-footer ul li a {
    position: relative;
  }
  .list-right-footer ul li a::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 2px;
    width: 0;
    left: 0;
    top: 20px;
    transition: 0.3s;
  }
  .right-ul {
    padding: 0;
  }
  .list-right-footer ul li a:hover:after {
    width: 100%;
  }
  .list-style-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }
  .list-style-footer li {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 0.5rem;
    color: #ffffff;
  }
}
@media screen and (min-width: 400px) {
  .nav-out ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 16px;
  }
  .nav-out .shopping {
    display: inline-block;
  }
  .nav-out .search {
    display: inline-block;
    margin-top: 7px;
  }
  .sixth-section::after {
    width: 78%;
    height: 55%;
    top: 19%;
    left: 12%;
  }
  .left-footer {
    justify-content: space-around;
    align-self: auto;
    margin-left: 10%;
  }
  .list-right-footer ul {
    justify-content: space-between;
  }
  .side-cercle-div a {
    padding: 3%;
  }
  .side-cercle-div {
    gap: 24px;
  }
  .side-cercle-div p {
    font-size: 1rem;
  }
  .tenth-section-text a {
    margin-left: 16%;
  }
}
@media screen and (min-width: 500px) {
  .home-text h1 {
    font-size: 4rem;
  }
  .home-text p {
    font-size: 1.5rem;
  }
  .third-section {
    height: 80vh;
  }
  .third-section-text {
    justify-content: space-evenly;
    padding: 0;
    gap: 0;
  }
  .third-section-text h1 {
    font-size: 2.5rem;
  }
  .third-section-text p {
    font-size: 1.125rem;
  }
  .fifth-section .section-header {
    justify-content: space-between;
    gap: 62px;
  }
  .section-header-title {
    padding-left: 0;
    text-align: left;
  }
  .section-header-title h1 {
    text-align: left;
  }
  .section-header-btn {
    margin-right: -32px;
    display: inline;
  }
  .sixth-section::after {
    width: 78%;
    height: 45%;
    top: 19%;
    left: 12%;
  }
  .tenth-section-text {
    padding: 30% 0 0 0;
  }
  .get-email h2 {
    font-size: xx-large;
  }
  .get-email form {
    max-width: 100%;
  }
  .list-right-footer ul {
    justify-content: space-between;
    gap: 200px;
  }
  .left-footer {
    justify-content: space-between;
    gap: 145px;
  }
}
@media screen and (min-width: 600px) {
  .side-bare-div {
    top: 10%;
  }
  .nav-in ul {
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 3rem;
  }
  .first-section {
    height: 85vh;
  }
  .second-section ul {
    gap: 0;
    column-gap: 4rem;
    row-gap: 3rem;
    padding: 4.8rem 1.6rem;
  }
  .third-section-text h1 {
    margin-left: 5%;
  }
  .fourth-section {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 0;
  }
  .fourth-section h1 {
    padding: 0;
  }

  .brand img {
    max-width: 180px;
  }
  .fifth-section .section-header {
    justify-content: space-between;
    gap: 136px;
  }
  .section-header-title h1 {
    font-size: xx-large;
  }
  .section-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    max-width: 254px;
  }
  .sixth-section::after {
    width: 78%;
    height: 50%;
    top: 19%;
    left: 12%;
  }
  .seventh-section h1 {
    margin-left: -14%;
    padding: 0;
    font-size: xx-large;
  }
  .seventh-section ul {
    margin-left: -35%;
    column-gap: 40%;
  }
  .seventh-section ul li {
    font-size: larger;
  }
  .nineth-section .elegance {
    margin-right: 3%;
  }
  .img-section-side-cercle {
    top: -10%;
    left: 3%;
    width: 95%;
    height: 40%;
  }
  .img-section-side-cercle::after {
    width: 103%;
  }
  .tenth-section-text {
    text-align: left;
    padding: 25% 0 0 0;
    margin-left: -10%;
  }
  .tenth-section-text h1 {
    font-size: -webkit-xxx-large;
  }
  .tenth-section-text p {
    font-size: larger;
  }
  .tenth-section-text a {
    padding: 4%;
    margin-left: 0;
  }
}
@media (min-width: 700px) {
  .second-section ul li {
    white-space: nowrap;
  }
  .third-section-text .elegance {
    align-self: flex-end;
    margin-right: 5%;
  }
  .sixth-section::after {
    width: 78%;
    height: 60%;
  }
  .side-cercle-div h1 {
    font-size: xx-large;
    line-height: 2.125rem;
  }
  .side-cercle-div p {
    font-size: larger;
  }
  .side-cercle-div a {
    padding: 1.2rem 3rem;
    font-size: 1rem;
  }
  .left-footer {
    justify-content: space-between;
    gap: 160px;
  }
  .img-section-side-cercle::after {
    width: 102%;
  }
}
@media (min-width: 800px) {
  .nav-out .header-box {
    display: inline-block;
    font-size: 0.9rem;
  }
  .first-section h1 {
    font-size: 6rem;
  }
  .home-text h1 {
    line-height: 6rem;
  }
  .second-section ul {
    column-gap: 7rem;
  }
  .card {
    max-width: 400px;
  }
  .card img {
    max-width: 374px;
  }
  .side-cercle-div {
    width: 70%;
  }
  .section-header {
    padding: 2rem;
  }
  .section-header-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .section-header-title h1 {
    font-size: 3rem;
  }
  .section-header-title p {
    font-size: 1.25rem;
  }
  .fifth-section .section-header {
    justify-content: space-between;
    gap: 166px;
  }
  .sixth-section::after {
    width: 68%;
    height: 61%;
  }
  .seventh-section ul {
    margin-left: -60%;
  }
  .seventh-section ul li {
    font-size: 1.5rem;
  }
  .seventh-section h1 {
    margin-left: -15%;
    font-size: -webkit-xxx-large;
  }
  .tenth-section-text {
    text-align: left;
    padding: 25% 0 0 0;
    margin-left: -25%;
  }
}
@media (min-width: 900px) {
  .home-text {
    gap: 2rem;
  }
  .second-section ul {
    column-gap: 10rem;
  }
  .third-section-text h1 {
    margin-left: 12%;
    font-size: 3rem;
  }
  .third-section-text .elegance {
    margin-right: 16%;
  }
  .sixth-section::after {
    width: 63%;
    height: 70%;
  }
  .side-cercle-div {
    width: 65%;
    gap: 3rem;
  }
  .side-cercle-div p {
    line-height: 2rem;
  }
  .nineth-section .elegance {
    margin-right: 3%;
    margin-bottom: 42px;
  }
  .tenth-section-text {
    text-align: left;
    padding: 20% 0 0 0;
    margin-left: -35%;
  }
  .footer-container-flex {
    align-items: flex-start;
    justify-content: baseline;
  }
  .get-email {
    margin-left: 2%;
  }
  .get-email h2 {
    font-size: 2.75rem;
    line-height: 2rem;
  }
  .get-email form {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .get-email form input {
    width: 120%;
  }
  .right-footer {
    align-items: start;
  }
  .list-right-footer ul {
    gap: 600px;
  }
  .left-footer {
    margin-left: 111px;
    gap: 500px;
  }
  .footer-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
/*Tablette*/
@media (min-width: 990px) {
  /*Header*/
  header {
    width: 100%;
    height: 10vh;
    justify-content: space-evenly;
  }
  .search img {
    margin-top: 0;
  }
  .responsivity {
    display: none;
  }
  .responsivity button {
    display: none;
  }
  .responsivity button img {
    display: none;
  }
  .logo {
    align-self: center;
  }

  .side-bare-div img {
    display: none;
  }
  .close-btn {
    position: absolute;
    left: 88.9%;
    top: 1%;
    background: none;
    border: none;
  }
  .close-btn svg {
    width: 30px;
    height: 30px;
    color: #ffffff;
  }
  .nav-out ul {
    gap: 0px;
  }

  .nav-in,
  .nav-out .quote-box {
    display: flex;
  }
  .nav-in ul {
    flex-direction: row;
    padding-left: 0;
    padding-top: 0;
    flex-wrap: wrap;
    gap: 12%;
  }
  /*header*/
  .home-text h1 {
    font-size: 7rem;
    line-height: 6rem;
  }
  .home-text p {
    font-size: 2rem;
  }
  .second-section ul {
    column-gap: 15rem;
  }
  .second-section ul li h3 {
    font-size: 1.125rem;
  }
  .third-section-text h1 {
    margin-left: 15%;
    font-size: 3rem;
  }
  .third-section-text p {
    font-size: 1.35rem;
  }
  .fifth-section .section-header {
    justify-content: space-between;
    gap: 248px;
  }
  .card {
    max-width: 500px;
  }
  .card img {
    max-width: 469px;
  }
  .side-cercle-div {
    width: 60%;
    gap: 3rem;
  }
  .sixth-section::after {
    width: 59%;
    height: 72%;
    left: 10%;
  }
  .tenth-section-text p {
    font-size: 1.35rem;
  }
  .list-right-footer ul {
    gap: 700px;
  }
  .left-footer {
    margin-left: 0;
    gap: 460px;
    padding: 0;
    padding-left: 113px;
  }
  .footer-footer {
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }
}
@media (min-width: 1090px) {
  .nav-in ul li a {
    font-size: 1.125rem;
  }
  .footer-logo {
    margin-right: 0;
  }
  .left-footer {
    margin-left: 0;
    gap: 637px;
    padding: 0;
    padding-left: 18px;
  }
}
@media (min-width: 1190px) {
  .section-cards {
    justify-content: space-evenly;
    margin-left: -110px;
  }
  .fifth-section .section-header {
    gap: 530px;
  }
  .card-title {
    margin-left: 100px;
  }
  .card {
    width: 500px;
  }
  .card img {
    width: 500px;
  }
  .sixth-section::after {
    width: 58%;
  }
}
@media (min-width: 1204px) {
  .nav-in ul {
    flex-direction: row;
    padding-left: 0;
    padding-top: 0;
    flex-wrap: nowrap;
    gap: 0;
  }
}
/*Laptop*/
@media (max-width: 1440px) {
}
